
/* dashboard */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.logo {
    color: #1e3a5f;
    font-size: 35px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.icons i {
  margin-left: 20px;
  font-size: 25px;
  /* font-weight: lighter; */
  cursor: pointer;
  color:  #1e3a5f;
}

.main-container {
  display: flex;
  height: calc(100vh - 90px);
}

/* inner slide box , toogles on menu button */
/* Sidebar styles */
.sidebar {
  width: 260px;
  background-color: #f6f9fc;
  padding: 24px;
  box-sizing: border-box;
  border-right: 2px solid #c0daf3;
  display: none;
  flex-direction: column;
}

.sidebar.active {
  display: flex;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 6px 12px;
  border: 1px solid #c0daf3;
  margin: 12px 0;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 4px;
  font-size: 14px;
}

.search-box i {
  color: #94b4d9;
}

.new-link {
  color: #205bce;
  font-size: 15px;
  margin: 10px 0;
  cursor: pointer;
}

.history-title {
  font-size: 14px;
  margin-bottom: 8px;
}

#historyList {
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
  flex-grow: 1;
}

#historyList li {
  padding: 6px 4px;
  font-size: 14px;
  cursor: pointer;
}

#historyList li:hover {
  background-color: #e0efff;
  border-radius: 6px;
}

/* Dashboard area */
.dashboard-box {
  flex: 1;
  background-color: #f6f9fc;
  border-radius: 24px 0 0 0;
  padding: 32px;
  position: relative;
  box-sizing: border-box;
}

.sidebar-icon {
  width: 30px;
  cursor: pointer;
}

/* menu icon */
.bar {
  width: 20px;
  height: 4px;
  background-color: #1e3a5f;
  margin: 6px 0;
  border-radius: 2px;

}

.domain-input-wrapper {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
  background-color: #d8e7f9;
  border: 4px solid #c0daf3;
  border-radius: 24px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px 24px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}

.domain-input-wrapper input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 35px;
  font-weight: 600;
  color: white;
  outline: none;
  caret-color: white;
  
  box-sizing: border-box;  
}

.domain-input-wrapper input::placeholder {
  color: white;
  opacity: 1;
  
}


.domain-input-box input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  outline: none;
}

.submit-btn {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  margin-left: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 100px;
  /* color: blue; */
}

.submit-btn i {
  color: #205bce;
  font-size: 20px;
  /* height: 100px;
  width: 100px; */
  /* z-index: 0; */
}